<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GitHub</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet"  type="text/css" href="css/index.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 align-items-center text-center">
                <h2>Github</h2>
                <button type="button" class="btn btn-primary" id="authorize">Authorize</button>
                {{!-- <button type="button" class="btn btn-primary" id="create_repo">Create Repo</button> --}}
            </div>
        </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/index.js"></script>
</html>

